/* Only affects elements under section#option-home. */

section#option-home {}

    section#option-home .title-header { text-decoration: underline; }

    section#option-home .input-container {
        height: 50%;
    }

        section#option-home .input-block {
            width: 380px; 
            padding: 50px;
        }

            section#option-home .img-container {
                margin-bottom: 15px;
            }

                section#option-home #input-login-header-password {
                    margin-top: 30px;
                }

                section#option-home .err-container {
                    margin-top: 5px;
                }
            
            section#option-home .btn-container {
                margin-top: 50px;
            }
    
    .footer-container {
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 0;
        margin-right: 20px;
        margin-bottom: 10px;
        font-size: 20px;
    }
        #version { display: inline; margin-left: 10px; color: #4286f4; text-align: right; }
        .version:hover { cursor: pointer; }
        .version-update:hover { cursor: pointer; color: #4286f4; } 

        #update-ready { display: inline; }
        #update-ready p { display: inline; }

    section#option-home .changelog-version {
        color: #4286f4;
    }

    section#option-home .changelog-description {
        margin: 0;
    }

    section#option-home #btn-container-tkt-submit {
        margin: 0;
        margin-top: 25px;
    }