/* Affects everything related to the application
   style wise. */

html { background-color: #F5F5F5; }
input[type="text"], input[type="password"], input[type="button"] { font-family: 'Montserrat', sans-serif; font-size: 16px; width: 376px; height: 40px; }
textarea { font-family: 'Montserrat', sans-serif; resize: none; width: 376px; }
select { font-family: 'Montserrat', sans-serif; font-size: 16px; width: 376px; height: 40px; }
    input:focus { outline: none; border: 2px solid #4286f4; }
    textarea:focus { outline: none; border: 2px solid #4286f4; }
    select:focus { outline: none; border: 2px solid #4286f4; } 
section { margin-left: 53px; font-family:'Montserrat', sans-serif; overflow: auto; }

    .title-header { text-align: left; padding: 0; margin: 0; margin-bottom: 20px; text-decoration: underline; }
        .title { padding: 0; margin: 0; }

    .header-container { display: flex; justify-content: center; }

    .img-container { text-align: center; }

    .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .input-block {
            background-color: #FFF;

            border: solid;
            border-width: 1px;
            border-radius: 10px;
            border-color: #BEBEBE;
        }
        .input-block-hidden {
            display: none;
        }
            .input-group { 
                border: solid;
                border-width: 1px;
                border-radius: 10px;
                border-color: #BEBEBE;
             }

            .input-header { padding: 0; margin: 0; font-weight: bold; }
            .input-login { padding: 0; margin: 0; }

            .btn-container { display: flex; padding: 0; margin: 0; justify-content: center; }
                .btn, .btn-confirm, .btn-tkt {
                    border: solid;
                    border-radius: 3px;
                    border-width: 1px;
                    border-color: black;

                    background-color: #0094DE;
                    color: black;
                    font-weight: bold;
                } .btn-confirm {
                    font-size: 16px; 
                    width: 188px !important; 
                    height: 40px;
                } .btn-tkt {
                    font-size: 16px;
                    width: 100px !important;
                    height: 40px;
                }
                    .btn:hover, .btn-confirm:hover, .btn-tkt:hover { border-color: grey; cursor:  pointer;}
                    .btn:active, .btn-confirm:active, .btn-tkt:active {
                        border-color: #05618F;
                        background-color: #05618F;
                        color: white;
                    }
                    .btn-tkt:disabled { background-color: #05618F; border-color: grey; }
            
/** DIRECTION BUTTONS **/
            .dir-btn-container { display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px; }

                .bbtn-container { color: black; margin-left: 10px; }
                    #back-btn-icon:hover { cursor: pointer; color: #0094DE; }
                    #back-btn-icon:active { color: #05618F; }

                .bbtn-container-hidden { display: none; }

                .fbtn-container { color: black; margin-right: 10px; }
                
    .footer-container {
        position: fixed;
        bottom: 0;
        right: 0;

        margin-right: 20px;

        font-size: 20px;
    }
        #version { color: #0094DE; }

    .err-container {display: flex; justify-content: center; }
        .err-msg { color: red; padding: 0; margin: 0; }

    .info-container { display: flex; align-content: center; justify-content: center; }


@media screen and (min-height: 540px)
{
    section { margin-left: 83px; }
}

@media screen and (min-height: 630px)
{
    section { margin-left: 95px; }
}

@media screen and (min-height: 825px)
{
    section { margin-left: 125px; }
}