/* Affects everything related to the application
   style wise. */

/** pre-release
.pre-release { position: fixed; background-color: #F5F5F5;; 
    width: 100%; height: 100%; z-index: 2; top: 0; left: 0;
    margin: 0; padding: 0;
}
    #pre-release-img { margin-top: 50px; }
    .pre-release-version { font-size: 20px; }
    .pre-release-container { text-align: center; margin-top: 100px; font-family: 'Montserrat', sans-serif; }
    .pre-release-info { font-size: 26px; }
/** ----------- **/

html { background-color: #F5F5F5; }
input[type="text"], input[type="password"], input[type="button"] { font-family: 'Montserrat', sans-serif; font-size: 16px; width: 376px; height: 40px; }
textarea { font-family: 'Montserrat', sans-serif; resize: none; width: 376px; }
select { font-family: 'Montserrat', sans-serif; font-size: 16px; width: 376px; height: 40px; }
    #input-radio_type { width: 120px; margin: 10px 0 10px 10px; }
    #input-radio_type_type { width: 232px; margin: 0 0 0 5px; }
    #input-cst_package { width: 276px; margin: 10px 0 10px 10px; }
    #input-cst_contract { width: 232px; margin: 0 0 0 5px; }
    #input-cst_contract_price { width: 120px; margin: 10px 0 10px 10px; }

    input:focus { outline: none; border: 2px solid #4286f4; }
    textarea:focus { outline: none; border: 2px solid #4286f4; }
    select:focus { outline: none; border: 2px solid #4286f4; } 
section { margin-left: 53px; font-family:'Montserrat', sans-serif; overflow: auto; }

/* Checkboxes */
input[type="checkbox"] { width: 15px; height: 15px; }

    .loading-show { display: flex; justify-content: center; align-items: center; position: fixed; background-color: rgba(0, 0, 0, .65); z-index: 1; width: 100%; height: 100%; top: 0; left: 0; }
    .loading-hidden { display: none; }
    #loading-screen {}
    #loading-img { animation: rotation 1.5s infinite linear; color: white; }

    .title-header { text-align: left; padding: 0; margin: 0; margin-bottom: 20px; text-decoration: underline; }
        .title { padding: 0; margin: 0; }

    .header-container { display: flex; justify-content: center; color: #0094DE; }

    .img-container { text-align: center; }

    .alert-blur { position: fixed; height: 100%; width: 100%; background-color: black; opacity: .65; z-index: 0; top: 0; } /** Blur background when alert is presented to user. **/
    .alert-block-hidden { display: none; }
    .alert-block { position: fixed; background-color: #FFF; top: 20%; padding: 50px;
        border: solid;
        border-width: 1px;
        border-radius: 10px;
        border-color: #BEBEBE;
        text-align: center;
    }

    .input-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
        .input-block, .input-block-container {
            padding: 0 50px 50px 50px;

            background-color: #FFF;
            border: solid;
            border-width: 1px;
            border-radius: 10px;
            border-color: #BEBEBE;
        } #input-ticket-template { border: none; background: none; }
        
        .input-block:nth-child(n+2) { margin-top: 50px; }
        .input-block-header { color: #0094DE; }
        .input-block-hidden { display: none; }

            .input-group { 
                border: solid;
                border-width: 1px;
                border-radius: 10px;
                border-color: #BEBEBE;
             }

            .input-header { padding: 0; margin: 0; font-weight: bold; }
            .input-info { padding: 0; text-align: center; }
            #input-ticket-template .input-header:nth-child(n+1) { margin-top: 25px; }
            #info-confirm-cst_id { margin-bottom: 40px; }
            .input-login { padding: 0; margin: 0; }

            .btn-container { display: flex; padding: 0; margin: 0; justify-content: center; }
                .btn, .btn-confirm, .btn-tkt {
                    border: solid;
                    border-radius: 3px;
                    border-width: 1px;
                    border-color: black;

                    background-color: #0094DE;
                    color: black;
                    font-weight: bold;
                } .btn-confirm {
                    font-size: 16px; 
                    width: 188px !important; 
                    height: 40px;
                } .btn-tkt {
                    font-size: 16px;
                    width: 100px !important;
                    height: 40px;
                } #btn-container-tkt-submit { margin-top: 50px; } 
                  #btn-tkt-submit, #btn-clear-confirmation-cancel, #btn-submit-confirmation-cancel { margin-left: 25px; }
                  #btn-cst-confirm { margin-right: 10px; }
                    .btn:hover, .btn-confirm:hover, .btn-tkt:hover { border-color: grey; cursor:  pointer;}
                    .btn:active, .btn-confirm:active, .btn-tkt:active {
                        border-color: #05618F;
                        background-color: #05618F;
                        color: white;
                    }
                    .btn-tkt:disabled { background-color: #05618F; border-color: grey; }
            
/** DIRECTION BUTTONS **/
            .dir-btn-container { display: flex; flex-direction: row; justify-content: space-between; margin-top: 10px; }

                .bbtn-container { color: black; margin-left: 10px; }
                    #back-btn { position: fixed; }
                    #back-btn-icon:hover { cursor: pointer; color: #0094DE; }
                    #back-btn-icon:active { color: #05618F; }

                .bbtn-container-hidden { display: none; }

                .fbtn-container { color: black; margin-right: 10px; }

    .err-container {display: flex; justify-content: center; }
        .err-msg { color: red; padding: 0; margin: 0; }
        .success-msg { color: #0094DE; padding: 0; margin: 0; }

    .info-container { display: flex; align-content: center; justify-content: center; }
    .changelog-container { display: block; text-align: center; }

/**
 * Re-orginize ticket template as screen dimensions change.
 */
@media screen and (min-width: 1300px) {
    /* Re-orginize position of each input-block */
    .input-block-container#input-ticket-template {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    .input-block { margin-top: 50px; }

    .input-block:nth-child(n+2) { margin-left: 50px; }

    #btn-container-tkt-submit { width: 600px; }
}

@media screen and (min-height: 540px)
{
    section { margin-left: 83px; }
}

@media screen and (min-height: 630px)
{
    section { margin-left: 95px; }
}

@media screen and (min-height: 825px)
{
    section { margin-left: 125px; }
}

/** Rotation Positive **/
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}