/* Only affects elements under section#option-repair. */

section#option-repair {}

    section#option-repair .input-block, section#option-repair .input-block-left, section#option-repair .input-block-right { 
        padding: 0 50px 50px 50px;
    }


    section#option-repair #input-ticket-template {
        border: none;
        background: none;
    }

        section#option-repair #ticket-info-block {
            margin-top: 50px;
        }

        section#option-repair #customer-info-block {
            margin-top: 50px;
        }

        section#option-repair #radio-info-block {
            margin-top: 50px;
        }

    section#option-repair #input-block-header-cst-info, section#option-repair #input-block-header-cst-confirm {
        color: #0094DE;
    }

    section#option-repair #ticket-info-block .input-block-header, section#option-repair #customer-info-block .input-block-header, section#option-repair #radio-info-block .input-block-header {
        color: #0094DE;
    }

    section#option-repair #input-customer-header-name {
        margin-top: 25px;
    }

/** Repair Ticket Form **/
    section#option-repair #repair-tower-header { margin-top: 25px; }
    section#option-repair #repair-zone-header { margin-top: 25px; }
    section#option-repair #repair-notes-header { margin-top: 25px; }
    section#option-repair #repair-name-header { margin-top: 25px; }
    section#option-repair #repair-package-header { margin-top: 25px; }
    section#option-repair #repair-speedtest-header { margin-top: 25px; }
    section#option-repair #repair-torch-header { margin-top: 25px; }
    section#option-repair #input-cst_package-residential { margin-top: 10px; }
    section#option-repair input[type="radio"] { margin-left: 10px; }
    section#option-repair #input-repair-package { margin: 10px 0 10px 10px; width: 276px; }

    section#option-repair #repair-radio_public-header { margin-top: 25px; }
    section#option-repair #repair-radio_mac-header { margin-top: 25px; }
    section#option-repair #repair-radio_test-header { margin-top: 25px; }
    section#option-repair #repair-radio_type-header { margin-top: 25px; }
    section#option-repair #input-repair-radio_type { margin: 10px 0 10px 10px; width: 120px; }
    section#option-repair #input-repair-radio_type_type { margin: 0 0 0 5px; width: 232px; }
    section#option-repair #repair-radio_signal-header { margin-top: 25px }
    section#option-repair #repair-radio_last_signal-header { margin-top: 25px }
    section#option-repair #repair-radio_ccq-header { margin-top: 25px }
    section#option-repair #repair-radio_qual_cap-header { margin-top: 25px }
    section#option-repair #repair-radio_ssid-header { margin-top: 25px }
    section#option-repair #repair-radio_ap_count-header { margin-top: 25px }

    section#option-repair #info-confirm-cst_id { margin-bottom: 50px; }

    section#option-repair #btn-repair-customer-check {
        margin-top: 50px;
        margin-bottom: 5px;
    }

    section#option-repair #btn-repair-create-ticket {
        margin-top: 5px;
    }

    section#option-repair #btn-repair-customer-confirm {
        margin-right: 10px;
    }

    section#option-repair #btn-repair-tkt-clear, section#option-repair #btn-repair-tkt-copy, section#option-repair #btn-repair-tkt-submit {
        margin-top: 50px;
    } section#option-repair #btn-repair-tkt-submit {
        margin-left: 25px;
    }





@media screen and (min-width: 1300px)
{
    /* Re-organize position of each input-block */
    section#option-repair .input-block#input-ticket-template {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }

    section#option-repair .input-block#input-ticket-template #customer-info-block {
        margin-left: 50px;
    }

    section#option-repair  #btn-container-tkt-submit {
        width: 600px;
    }
}

@media screen and (min-width: 1340px)
{
    section#option-repair  #btn-container-tkt-submit {
        width: 800px;
    }
}

@media screen and (min-width: 1540px)
{
    section#option-repair  #btn-container-tkt-submit {
        width: 1100px;
    }
}

@media screen and (min-width: 1755px)
{
    section#option-repair  #btn-container-tkt-submit {
        width: 1200px;
    }

    section#option-repair .input-block#input-ticket-template #radio-info-block {
        margin-left: 50px;
    }
}